.enlaces a{
    color: #ffffff;
    font-weight: bold;
    line-height: 2;
    
}
.titulofooter{
color: #ffffff;
font-weight: bold;  

}

.modales{
	font-family:Helvetica;
   font-size: 14px;
   line-height: 2;
  
}





/*nav{
	background:  #ffffff;
}
*/